* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1,
.h1 {
	color: #000;
	font-size: 26px;
	line-height: 1.25;
	margin-bottom: 25px;

	span {
		color: #7d7d7d;
	}

	@media (min-width: $screen-md-min) {

		font-size: 30px;
	}

	@media (min-width: $screen-lg-min) {

		font-size: 34px;
	}
}


h3 {
	color: #000;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 20px;
}

h4 {
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 15px;
}

p {
	padding: 0;
	margin: 0 0 20px 0;
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.heading {
	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	position: relative;
	margin-bottom: 20px;

	span {
		z-index: 5;
		background: #fff;
		position: relative;
		display: inline-block;
	}

	&:before {
		left: 0;
		top: 50%;
		z-index: 3;
		width: 100%;
		content: '';
		display: none;
		position: absolute;
		border-bottom: 1px solid #dfdfdf;
	}

	@media (min-width: $screen-sm-min) {

		span {
			padding: 0 25px;
		}

		&:before {
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 30px;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 34px;
		line-height: 40px;
		margin-bottom: 40px;
	}
}


.gray-block {
	background: #efefef;
	padding: 30px 0 40px 0;

	.heading {

		span {
			background: #efefef;
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 40px 0 50px 0;
	}

	@media (min-width: $screen-md-min) {
		padding: 50px 0 50px 0;
	}
}

.slider-nav {
	z-index: 50;
	width: 45px;
	height: 45px;
	cursor: pointer;
	position: absolute;
	display: inline-block;
	background: #78b43d url("../img/gallery-nav.png") no-repeat;

	&:hover {
		background-color: #598a29;
	}

	&.prev {
		left: 0;
		background-position: 0 0;
	}

	&.next {
		right: 0;
		background-position: -45px 0;
	}
}

.color-green {
	color: $color-green !important;
}


.rows {

	.side-left {
		margin-bottom: 20px;
	}

	.content-left {
		margin-bottom: 20px;
	}

	.side-right {

	}

	@media (min-width: $screen-md-min) {
		width: 100%;
		display: table;

		.side-left {
			width: 300px;
			margin-bottom: 0;
			display: table-cell;
			vertical-align: top;
		}

		.content-right {
			padding-left: 20px;
			display: table-cell;
			vertical-align: top;
		}

		.side-right {
			width: 310px;
			margin-bottom: 0;
			display: table-cell;
			vertical-align: top;
		}

		.content-left {
			display: table-cell;
			vertical-align: top;
			padding-right: 20px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.content-right {
			padding-left: 45px;
		}

		.side-right {
			width: 350px;
		}

		.content-left {
			padding-right: 70px;
		}
	}
}
