.main {
	background: #fff;
	padding-top: 20px;
	padding-bottom: 20px;

	@media (min-width: $screen-sm-min) {
		padding-bottom: 30px;
	}


	@media (min-width: $screen-md-min) {
		padding-bottom: 50px;
	}
}

.news-content {
	margin-bottom: 20px;

	@media (min-width: $screen-lg-min) {
		float: left;
		width: 920px;
	}
}

.news-sidebar {
	padding-bottom: 10px;

	@media (min-width: $screen-lg-min) {

		float: right;
		width: 305px;
	}
}

.news {
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		width: 100%;
		margin-bottom: 30px;

		&:hover {

			.news-date {

				.date {
					background: #efefef;
				}
			}
		}
	}

	.news-date {
		padding: 0 15px;
		position: relative;
		margin: 0 -15px 20px -15px;

		&:before {
			left: 0;
			right: 0;
			top: 50%;
			z-index: 5;
			content: '';
			height: 1px;
			position: absolute;
			background: url("../img/news_date_horisontal_line.png") 0 0 repeat-x;
		}

		.date {
			z-index: 10;
			width: 86px;
			height: 86px;
			font-weight: 600;
			color: #7d7d7d;
			background: #fff;
			padding-top: 25px;
			text-align: center;
			position: relative;
			border: 1px solid #dfdfdf;
			@include border-radius(50%);


			.month {
				display: block;
				font-size: 12px;
				line-height: 16px;
			}

			.year {
				font-size: 18px;
				line-height: 20px;
			}
		}
	}

	.news-body {

		h4 {

			a {
				color: #78b43d;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.news-text {
			font-size: 13px;
			line-height: 21px;
			margin-bottom: 20px;
		}

		.news-image {

			a {
				display: block;

				&:hover {

					img {
						@include opacity(.8);
					}
				}
			}

		}
	}


	@media (min-width: $screen-sm-min) {

		li {
			display: table;
			margin-bottom: 35px;

			&:last-child {

				.news-date {

					&:before {
						bottom: 0;
					}
				}
			}
		}

		.news-date {
			margin: 0;
			padding: 0;
			width: 105px;
			display: table-cell;
			vertical-align: top;

			&:before {
				width: 1px;
				top: 40px;
				bottom: -50px;
				left: 42px;
				right: auto;
				height: auto;
				background: url("../img/news_date_vertical_line.png") 0 0 repeat-y;
			}
		}
		.news-body {
			display: table-cell;
			vertical-align: top;
		}
	}

	@media (min-width: $screen-sm-min) {

		.news-date {
			width: 130px;
		}
	}
}

.news-social {
	padding: 25px;
	background: #efefef;
	border: 1px solid #dfdfdf;
	@include border-radius(4px);

	.news-social-title {
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		margin-bottom: 20px;
	}

	.news-social-list {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 10px;


			a {
				width: 100%;
				color: #78b43d;
				font-size: 13px;
				font-weight: 700;
				overflow: hidden;
				background: #fff;
				line-height: 21px;
				position: relative;
				text-align: center;
				text-decoration: none;
				display: block;
				padding: 7px 0 7px 35px;
				@include border-radius(3px);

				&:before {
					top: 0;
					left: 0;
					content: '';
					width: 35px;
					height: 35px;
					position: absolute;
					background: url("../img/icon-social.png") no-repeat;
					@include border-radius(3px);
				}


				&.social-fb {

					&:before {
						background-position: 0 0;
					}
				}

				&.social-tw {

					&:before {
						background-position: -40px 0;
					}
				}

				&.social-vk {

					&:before {
						background-position: -80px 0;
					}
				}

				&.social-youtube {

					&:before {
						background-position: -120px 0;
					}
				}

				&.social-gplus {

					&:before {
						background-position: -160px 0;
					}
				}

				&.social-intagramm {

					&:before {
						background-position: -200px 0;
					}
				}

				&.social-unknown {

					&:before {
						background-position: -240px 0;
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 25px 35px 20px 35px;

		.news-social-title {
			padding: 0 45px;
		}

		.news-social-list {
			margin: 0 -10px;

			li {
				width: 50%;
				float: left;
				padding: 0 10px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.news-social-list {

			li {
				width: 33.333%;
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		.news-social-title {
			padding: 0;
		}

		.news-social-list {

			li {
				width: 100%;
				float: none;
			}
		}
	}
}


// Social link

.social-group {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 -5px 0 0;

	li {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 5px 5px 0;

		a {
			width: 40px;
			height: 40px;
			display: block;
			@include border-radius(3px);
			background: url("../img/icon-social-md.png") no-repeat;

			&.social-fb {
				background-position: 0 0;

				&:hover {
					background-position: 0 -40px;
				}
			}

			&.social-vk {
				background-position: -40px 0;

				&:hover {
					background-position: -40px -40px;
				}
			}

			&.social-tw {
				background-position: -80px 0;

				&:hover {
					background-position: -80px -40px;
				}
			}

			&.social-intagramm {
				background-position: -120px 0;

				&:hover {
					background-position: -120px -40px;
				}
			}

			&.social-per {
				background-position: -160px 0;

				&:hover {
					background-position: -160px -40px;
				}
			}
		}
	}
}


// About Page

.about {
	margin: 0 -10px 20px -10px;

	.about-slide {
		border: none;
		outline: none;
		padding: 0 10px 5px 10px;
	}

	.about-item {
		width: 100%;
		overflow: hidden;
		background: #efefef;
		border: 1px solid #dfdfdf;
		@include border-radius(3px);
	}

	.about-content {
		z-index: 5;
		font-size: 13px;
		line-height: 21px;
		padding: 25px 15px;
		background: #ffffff;

		h1 {
			color: $color-green;
		}

		.text {
			margin-bottom: 30px;
		}
	}


	.about-image {
		z-index: 5;
		padding: 9px;
		position: relative;
		border-top: 1px solid #dfdfdf;


		&:before {
			top: 0;
			left: 0;
			right: 0;
			display: none;
			bottom: 0;
			content: '';
			z-index: 10;
			position: absolute;
			background: #efefef;
			border-top: 1px solid #dfdfdf;
		}


		img {
			z-index: 20;
			position: relative;
		}
	}

	.slick-dots {
		margin: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;
		padding: 20px 0 0 0;

		li {
			margin: 0 5px;
			display: inline-block;

			button {
				margin: 0;
				padding: 0;
				width: 10px;
				height: 10px;
				border: none;
				outline: none;
				background: #d9d9d9;
				@include border-radius(50%);
			}

			&.slick-active {

				button {
					background: #272727;
				}
			}
		}
	}



	@media (min-width: $screen-sm-min) {

		.about-content {
			padding: 30px 20px 70px 20px;
		}

		.about-image {
			padding: 0 20px 20px 20px;

			.about-image-inner {
				margin: -40px 0 0 0;
			}
		}

		.slick-dots {
			padding-top: 30px;
		}
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 40px;

		.about-item {
			display: table;
		}

		.about-content {
			display: table-cell;
			vertical-align: top;
			padding: 50px 100px 40px 40px;
		}


		.about-image {
			width: 440px;
			display: table-cell;
			vertical-align: top;
			padding: 40px 40px 40px 0;
			border-top: none;
			border-left: 1px solid #dfdfdf;

			.about-image-inner {
				margin: 0 0 0 -70px;
			}

			&:before {
				top: 0;
				left: 68px;
				border-top: none;
				border-left: 1px solid #dfdfdf;
			}
		}
	}


	@media (min-width: $screen-lg-min) {
		margin-bottom: 50px;

		.about-content {
			padding: 50px 150px 50px 50px;
		}

		.about-image {
			width: 630px;
			padding: 30px 30px 30px 0;

			.about-image-inner {
				margin: 0 0 0 -115px;
			}
		}
	}
}

.fact {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	text-align: center;
	margin: 0 auto 30px auto;

	li {
		position: relative;
		margin-bottom: 35px;
		padding: 125px 10px 0 10px;

		&:before {
			top: 0;
			left: 50%;
			content: '';
			width: 100px;
			height: 100px;
			margin-left: -50px;
			position: absolute;
			background: url("../img/about_icon.png") no-repeat;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:nth-child(1) {

			&:before {
				background-position: 0 0;
			}
		}

		&:nth-child(2) {

			&:before {
				background-position: -100px 0;
			}
		}

		&:nth-child(3) {

			&:before {
				background-position: -200px 0;
			}
		}

		&:nth-child(4) {

			&:before {
				background-position: -300px 0;
			}
		}

		&:nth-child(5) {

			&:before {
				background-position: -400px 0;
			}
		}

		.fact-value {
			font-size: 48px;
			line-height: 50px;
			color: $color-green;
			margin-bottom: 15px;
		}

		.fact-text {
			color: #272727;
			font-size: 13px;
			font-weight: 700;
			line-height: 18px;
			text-transform: uppercase;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -15px 30px -15px;

		li {
			float: left;
			width: 33.33%;
			padding-left: 30px;
			padding-right: 30px;

			.fact-text {
				min-height: 60px;
			}

			&:nth-child(4) {
				margin-bottom: 0;
				margin-left: 16.66%;
			}

			&:nth-child(5) {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 30px;

		li {
			width: 20%;
			margin-bottom: 0;

			.fact-text {
				min-height: inherit;
			}

			&:nth-child(4) {
				margin-left: 0;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.review {
	padding: 20px;
	overflow: hidden;
	background: #fff;
	position: relative;
	border: 1px solid #d9d9d9;
	@include border-radius(3px);

	.review-item {
		border: none;
		outline: none;
		@include clearfix();
		padding-bottom: 70px;
	}

	.review-author {
		margin-bottom: 10px;

		.review-photo {
			width: 110px;
			height: 110px;
			overflow: hidden;
			margin: 0 auto 15px auto;
			@include border-radius(50%);
		}

		.review-name {
			color: #000;
			font-size: 16px;
			font-weight: 600;
			line-height: 20px;
			text-align: center;
			margin-bottom: 10px;
		}

		.review-date {
			color: #999;
			font-size: 13px;
			line-height: 15px;
			text-align: center;
		}
	}

	.review-text {
		font-size: 13px;
		line-height: 21px;
		position: relative;
		padding-top: 28px;
		background: url("../img/icon-quote.png") 50% 0 no-repeat;
	}

	.slider-nav {
		top: 50px;
	}

	@media (min-width: $screen-md-min) {
		padding: 30px 70px;

		.review-item {
			padding-bottom: 0;
		}


		.review-author {
			float: left;
			margin-bottom: 0;
		}

		.review-text {
			margin-left: 190px;
			padding-left: 40px;
			background-position: 0 0;
		}


		.slider-nav {
			top: 50%;
			margin-top: -23px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 40px 95px;
	}
}

.command-block {
	padding: 35px 0;
	background-color: #fff;

	.command-text {
		max-width: 520px;
		text-align: center;
		margin: 0 auto 30px auto;
	}

	.command {
		padding: 20px;
		overflow: hidden;
		background: #fff;
		position: relative;
		border: 1px solid #d9d9d9;
		@include border-radius(3px);

		.command-item {
			border: none;
			outline: none;
			text-align: center;

			p {
				margin-bottom: 25px;

				b {
					font-size: 14px;
				}
			}
		}

		.command-image {
			width: 142px;
			height: 142px;
			display: block;
			overflow: hidden;
			margin: 0 auto 20px auto;
			border: 7px solid #efefef;
			@include border-radius(50%);
		}

		.command-name {
			color: #000;
			font-size: 16px;
			font-weight: 600;
			line-height: 20px;
			margin-bottom: 10px;
		}

		.command-staff {
			color: #999;
			margin-bottom: 20px;
		}

		.command-social {
			margin: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			text-align: center;
			padding: 5px 0 0 0;

			a {
				width: 40px;
				height: 40px;
				border: none;
				outline: none;
				margin: 0 5px;
				display: inline-block;
				@include border-radius(50%);
				background: rgba(239,239,239, 1) url("../img/icon-social-circle.png") no-repeat;

				&.fb {
					background-position: 0 0;
				}

				&.tw {
					background-position: -40px 0;
				}

				&:hover {
					background-color: rgba(242,242,242, 1);
				}
			}
		}

		.slider-nav {
			top: 70px;
		}
	}

	@media (min-width: $screen-md-min) {

		.command {
			padding: 20px 30px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 40px 0;

		.command-text {
			margin-bottom: 40px;
		}

		.command {
			padding: 20px 40px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 50px 0;

		.command {
			padding: 0;

			.command-item {
				height: 740px;
				border-right: 1px solid #d9d9d9;
				padding: 20px 40px 60px 40px;
			}
		}
	}
}


// Contact

.contact {

	.contact-text {
		max-width: 320px;
		padding-bottom: 10px;

		h4 {
			color: #000;
			font-size: 20px;
			font-weight: 700;
			line-height: 26px;
			margin-bottom: 25px;
		}

		.contact-name {
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 20px;
			color: $color-green;
		}

		.contact-list {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				color: #000;
				font-size: 14px;
				line-height: 21px;
				min-height: 46px;
				position: relative;
				margin-bottom: 20px;
				padding: 10px 0 0 60px;

				i {
					top: 0;
					left: 0;
					width: 46px;
					height: 46px;
					padding: 12px 0;
					font-size: 20px;
					line-height: 20px;
					text-align: center;
					position: absolute;
					color: $color-green;
					display: inline-block;
					border: 1px solid $color-green;
					@include border-radius(50%);
				}

				a {
					color: #000;
					text-decoration: none;

					&.tel {
						font-size: 18px;
						font-weight: 600;
						line-height: 22px;
					}
				}

			}
		}
	}

	.contact-form {
		margin: 0;
	}

	@media (min-width: $screen-md-min) {

		.contact-text {
			float: left;
			width: 320px;
		}

		.contact-form {
			float: right;
		}
	}
}

.contact-form {
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #dfdfdf;
	@include border-radius(3px);

	.contact-title {
		color: #000;
		font-size: 20px;
		font-weight: 700;
		line-height: 26px;
		padding: 30px 20px;
		text-align: center;
		background: #efefef;
		border-bottom: 1px solid #dfdfdf;
	}

	.contact-body {
		padding: 20px 20px;

		.btn {
			padding-left: 50px;
			padding-right: 50px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.contact-title {
			padding: 25px;
		}

		.contact-body {
			padding: 40px;

			.form-group {

				li {

					&:first-child {
						float: left;
						width: 110px;
					}

					&:last-child {
						margin-left: 110px;
					}
				}
			}

			.btn {
				margin-left: 110px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 570px;

		.contact-title {
			padding: 30px 10px;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 665px;

		.contact-body {
			padding: 40px 50px;
		}
	}
}

.heading-text {
	max-width: 810px;
	text-align: center;
	margin: 0 auto 25px auto;

	@media (min-width: $screen-md-min) {
		margin-bottom: 45px;
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 55px;
	}
}


// Price

.price-block {
	padding-top: 40px;
	margin-bottom: 15px;
	border: 1px solid #dfdfdf;
	@include border-radius(3px);

	.heading {

		span {
			padding: 0 25px;
		}

		&:before {
			display: block;
		}
	}

	.heading-text {
		max-width: 850px;
		padding: 0 10px;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 55px;
		margin-bottom: 35px;
		padding-bottom: 45px;
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 45px;
	}
}

.price {
	margin: 0;
	padding: 0 10px;
	list-style: none;
	@include clearfix();

	> li {
		margin-bottom: 15px;

		&:nth-child(1) {

			.price-item {

				&:before {
					background-position: 0 0;
				}
			}
		}

		&:nth-child(2) {

			.price-item {

				&:before {
					background-position: -100px 0;
				}
			}
		}

		&:nth-child(3) {

			.price-item {

				&:before {
					background-position: -200px 0;
				}
			}
		}
	}

	.price-item {
		padding: 40px 20px;
		text-align: center;
		background: #efefef;
		position: relative;
		border: 1px solid #dfdfdf;
		@include border-radius(3px);

		&:before {
			top: 93px;
			left: 50%;
			content: '';
			width: 100px;
			height: 100px;
			margin-left: -50px;
			position: absolute;
			background: url("../img/icon-price.png") no-repeat;
		}

		&:hover {
			background: #fff;

			h3 {
				color: $color-green;
			}
		}

		h3 {
			margin-bottom: 170px;
		}

		.price-value {
			color: #000;
			font-size: 24px;
			font-weight: 600;
			line-height: 30px;
			margin-bottom: 15px;
		}

		.price-text {
			margin-bottom: 25px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.price-item {
			padding: 40px 50px;
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			float: left;
			width: 33.33%;
			padding: 0 10px;
			margin-bottom: 0;
		}

		.price-item {
			padding: 40px 15px;

			.price-text {
				min-height: 95px;
				margin-bottom: 15px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 0 20px;

		> li {
			padding: 0 24px;
		}
	}
}


// Guest Book

.auth {
	padding: 20px;
	margin: 0 auto;
	background: #efefef;
	border: 1px solid #dfdfdf;
	@include border-radius(3px);

	.auth-social {
		max-width: 260px;
		@include clearfix();
		padding-bottom: 15px;

		.auth-label {
			color: #000;
			float: left;
			padding: 7px 0;
		}

		.social-group {
			float: right;
		}
	}

	p {
		color: #000;
		margin-bottom: 15px;
	}

	textarea {
		height: 166px;
	}

	.btn {
		width: 100%;
	}
}

.messages {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding-left: 65px;
		position: relative;
		margin-bottom: 10px;

		ul {
			padding-top: 10px;
			margin-left: -40px;
			position: relative;

			&:before {
				top: 10px;
				left: -60px;
				content: '';
				width: 20px;
				height: 29px;
				display: none;
				position: absolute;
				background: url("../img/guest-meassage-answer.png") 0 0 no-repeat;
			}


			> li {

				.message-avatar {
					border-color: $color-green;
				}

				.message-text {
					// background: #efefef;

					&:before {
						// background-position: 0 -12px;
					}

					.message-meta {
						color: $color-green;
					}
				}
			}
		}
	}

	.message-avatar {
		top: 0;
		left: 0;
		width: 45px;
		height: 45px;
		position: absolute;
		border: 1px solid #dfdfdf;
		@include border-radius(50%);
	}

	.message-text {
		padding: 15px 20px;
		position: relative;
		border: 1px solid #dfdfdf;
		@include border-radius(3px);

		&:before {
			top: 25px;
			left: -14px;
			content: '';
			width: 14px;
			height: 12px;
			position: absolute;
			background: url("../img/guest-meassage-arrow.png") 0 0 no-repeat;
		}

		p {
			margin-bottom: 10px;
		}

		.message-meta {
			color: #999;

			span {
				display: block;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		li {
			padding-left: 100px;
			margin-bottom: 20px;

			ul {
				margin-left: 0;
				padding-top: 20px;

				&:before {
					display: block;
				}

				> li {

					.message-text {
						background: none;
						padding-left: 30px;
					}
				}
			}
		}

		.message-avatar {
			width: 80px;
			height: 80px;
		}

		.message-text {
			padding: 20px 25px 20px 60px;
			background: url("../img/guest-meassage-quote.png") 17px 14px no-repeat;

			p {
				margin-bottom: 15px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}
}


// Update

.content-left .single-content img {
	width: 100%;
	max-width: 800px;
	height: auto;
}

.fix-top {
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0px;
}

.mt140 { padding-top: 90px; }
.single .single-map .single-map-top .btn-map .full-text { display: block }
.single .single-map .single-map-top .btn-map .small-text { display: none; }

@media (max-width: 1320px) {
	.mt140 { padding-top: 140px; }
	.single .single-map .single-map-top .btn-map .full-text { display: none; }
	.single .single-map .single-map-top .btn-map .small-text { display: block; }
}

.rows .content-left {
	display: inline-block;
}

.toggle-size-video {
	display: table-caption;
}

.fix-section-service {
	margin-top: 20px;
}