.footer {
	color: #7d7d7d;
	padding-top: 30px;
	background: #272727;
	padding-bottom: 30px;

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}



.community {
	margin-bottom: 30px;

	.appstore {
		width: 130px;
		display: inline-block;
		margin-bottom: 30px;
		@include border-radius(3px);
	}

	.social {
		margin-bottom: 30px;

		.title {
			color: #7d7d7d;
			font-size: 14px;
			font-weight: 600;
			line-height: 16px;
			margin-bottom: 15px;
		}

		.social-link {
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			margin: 0 -5px 0 0;

			li {
				float: left;
				width: 35px;
				height: 35px;
				margin: 0 5px 5px 0;

				a {
					width: 35px;
					height: 35px;
					display: block;
					@include border-radius(3px);
					background: url("../img/icon-social.png") no-repeat;

					&.social-fb {
						background-position: 0 0;

						&:hover {
							background-position: 0 -35px;
						}
					}

					&.social-tw {
						background-position: -40px 0;

						&:hover {
							background-position: -40px -35px;
						}
					}

					&.social-vk {
						background-position: -80px 0;

						&:hover {
							background-position: -80px -35px;
						}
					}

					&.social-youtube {
						background-position: -120px 0;

						&:hover {
							background-position: -120px -35px;
						}
					}

					&.social-gplus {
						background-position: -160px 0;

						&:hover {
							background-position: -160px -35px;
						}
					}

					&.social-intagramm {
						background-position: -200px 0;

						&:hover {
							background-position: -200px -35px;
						}
					}

					&.social-unknown {
						background-position: -240px 0;

						&:hover {
							background-position: -240px -35px;
						}
					}
				}
			}
		}
	}

	.subscribe {

		.title {
			color: #7d7d7d;
			font-size: 14px;
			font-weight: 600;
			line-height: 16px;
			margin-bottom: 15px;
		}

		.subscribe-form {
			position: relative;
			@include border-radius(3px);
			@include box-shadow(0px 1px 3px 0px rgba(0, 0, 0, 0.3));

			input[type='text'] {
				width: 100%;
				outline: none;
				color: #7d7d7d;
				font-size: 14px;
				line-height: 20px;
				background: #ffffff;
				display: inline-block;
				border: 1px solid #fff;
				padding: 9px 70px 9px 15px;
				@include placeholder(#7d7d7d);
				@include border-radius(3px);

				&::-ms-clear {
					display: none;
					width: 0;
					height: 0;
				}

				&:focus {
					@include placeholder(transparent);
				}
			}

			button {
				top: 0;
				right: 0;
				margin: 0;
				color: #fff;
				width: 70px;
				height: 40px;
				border: none;
				outline: none;
				padding: 10px 0;
				font-size: 13px;
				font-weight: 600;
				line-height: 20px;
				cursor: pointer;
				position: absolute;
				text-align: center;
				text-transform: uppercase;
				display: inline-block;
				background: #78b43d;
				@include border-radius(0 3px 3px 0);

				&:hover {
					background-color: #598a29;
				}

				&:active {
					background-color: #598a29;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.appstore {
			float: right;
		}

		.social {
			float: left;
		}

		.subscribe {
			float: left;
			width: 100%;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 290px;
		float: left;
		margin-right: 130px;

		.appstore {
			float: none;
		}

		.social {
			float: none;
		}
	}
}

.footer-nav {
	margin: 0 -15px 25px -15px;
	border-top: 1px solid #494949;

	> li {
		background: #272727;

		&.open {
			background: #000000;

			.footer-nav-title {

				&:before {
					border-color: #a8a8a8;
				}

				&:after {
					display: none;
				}
			}

			.footer-menu {
				display: block;
			}
		}
	}

	.footer-nav-title {
		cursor: pointer;
		font-size: 14px;
		font-weight: 700;
		line-height: 19px;
		padding: 18px 15px;
		position: relative;
		text-transform: uppercase;
		border-bottom: 1px solid #494949;

		&:before {
			top: 50%;
			right: 15px;
			content: '';
			width: 16px;
			z-index: 10;
			margin-top: -1px;
			position: absolute;
			border-bottom: 2px solid #fff;
		}


		&:after {
			top: 50%;
			right: 22px;
			content: '';
			height: 16px;
			z-index: 10;
			margin-top: -8px;
			position: absolute;
			border-left: 2px solid #fff;
		}
	}

	.footer-menu {
		display: none;
		padding: 22px 15px;
		border-bottom: 1px solid #494949;


		> li {
			position: relative;
			padding-left: 15px;
			margin-bottom: 15px;

			&:before {
				left: 0;
				top: 50%;
				width: 4px;
				height: 4px;
				content: '';
				margin-top: -2px;
				position: absolute;
				background: #4d4d4d;
				@include border-radius(50%);
			}

			&:last-child {
				margin-bottom: 0;
			}

			> a {
				color: #fff;
				font-size: 13px;
				line-height: 20px;
				text-decoration: none;

				&:hover {
					color: #78b43d;
					text-decoration: underline;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		float: left;
		width: 840px;
		margin: 0 0 30px 0;
		border-top: none;

		> li {
			float: left;
			width: 320px;

			&:last-child {
				width: 200px;
			}

			&.open {
				background: transparent;

				.footer-nav-title {

				}
			}
		}

		.footer-nav-title {
			padding: 0;
			cursor: default;
			margin-top: -3px;
			margin-bottom: 20px;
			border-bottom: none;

			&:after,
			&:before {
				display: none;
			}
		}

		.footer-menu {
			padding: 0;
			display: block;
			border-bottom: none;

			li {
				margin-bottom: 12px;
			}
		}
	}
}

.footer-bottom {
	margin: 0;
	padding: 0;
	list-style: none;

	h4 {
		color: #fff;
		font-size: 15px;
		font-weight: 600;
		line-height: 20px;
		margin-bottom: 15px;
	}

	a {
		color: #78b43d;
		text-decoration: none;
	}

	li {
		width: 100%;
		float: left;
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.footer-text {

		p {
			margin-bottom: 25px;
		}

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.footer-contact {

		.tel {
			font-size: 16px;
			font-weight: 600;
			line-height: 20px;
			display: inline-block;
			margin-bottom: 5px;
		}

		.email {
			font-size: 14px;
		}
	}

	.footer-copy {

		p {
			margin-bottom: 10px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.footer-contact {
			width: 295px;
		}

		.footer-copy {
			width: 265px;
		}
	}

	@media (min-width: $screen-md-min) {

		li {
			margin-bottom: 0;
		}

		.footer-text {
			width: 495px;
			padding-right: 85px;
		}

		.footer-contact {
			width: 245px;
		}

		.footer-copy {
			width: 190px;
		}
	}

	@media (min-width: $screen-lg-min) {
		float: left;
		width: 100%;
		padding-top: 25px;
		border-top: 1px solid #494949;

		.footer-text {
			width: 740px;
			padding-right: 130px;
		}

		.footer-contact {
			width: 320px;
		}

		.footer-copy {
			width: 200px;
		}
	}
}


