// Галереи

.display-bar {
	margin-bottom: 20px;

	.display-label {
		color: #000;
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 10px;
	}


	.show-bar {
		margin-bottom: 20px;

		.show-bar-nav {
			width: 100%;
			height: 46px;
			position: relative;

			ul {
				top: 0;
				left: 0;
				margin: 0;
				padding: 0;
				z-index: 500;
				width: 100%;
				overflow: hidden;
				background: #fff;
				list-style: none;
				position: absolute;
				border: 1px solid #ccc;
				@include border-radius(3px);

				&:before {
					top: 7px;
					right: 6px;
					content: '';
					width: 30px;
					height: 30px;
					position: absolute;
					display: inline-block;
					background: url('../img/sort-icon-two.png') 0 0 no-repeat;
				}

				&:hover {

					&:before {
						background-position: 0 -30px;
					}
				}

				> li {
					display: none;

					> a {
						width: 100%;
						outline: none;
						color: #78b43d;
						font-size: 13px;
						font-weight: 700;
						line-height: 20px;
						position: relative;
						text-decoration: none;
						display: inline-block;
						padding: 12px 20px 12px 55px;


						&:before {
							top: 9px;
							left: 20px;
							content: '';
							width: 25px;
							height: 25px;
							position: absolute;
							background: url("../img/icon-display.png") no-repeat;
						}
					}

					&.sort-table {

						> a {
							&:before {
								background-position: 0 50%;
							}
						}
					}

					&.sort-list {

						> a {

							&:before {
								background-position: -25px 50%;
							}
						}
					}

					&.sort-map {

						> a {
							&:before {
								background-position: -50px 50%;
							}
						}
					}

					&.sort-mosaic {

						> a {
							&:before {
								background-position: -75px 50%;
							}
						}
					}

					&.sort-gallery {

						> a {
							&:before {
								background-position: -100px 50%;
							}
						}
					}

					&.active {
						display: block;

						> a {

							&:hover {
								background-position: 100% -44px;
							}
						}
					}
				}

				&.open {
					@include box-shadow(1px 1px 3px 0px rgba(0, 0, 0, 0.2));

					> li {
						display: block;
						border-bottom: 1px solid #ccc;

						&:last-child {
							border-bottom: none;
						}
					}
				}
			}
		}
	}

	.sort-select {

		select {
			margin: 0;
			width: 100%;
			color: #78b43d;
			outline: none;
			font-size: 13px;
			font-weight: 700;
			line-height: 20px;
			padding: 12px 50px 12px 15px;
			display: inline-block;
			background: transparent;
			border: 1px solid #ccc;
			@include placeholder(#78b43d);
			@include border-radius(3px);

			background: url('../img/sort-icon.png') 100% 0 no-repeat;

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:hover {
				@include placeholder(transparent);
				background-position: 100% -44px;
			}

			option {
				color: #78b43d;
				background: #fff;
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		margin: 0 -5px 20px -5px;

		.show-bar {
			width: 50%;
			float: left;
			padding: 0 5px;
			margin-bottom: 0;
		}

		.sort-nav {
			width: 50%;
			float: left;
			padding: 0 10px;
		}
	}


	@media (min-width: $screen-md-min) {
		margin: 0 0 20px 0;

		.show-bar {
			padding: 0;
			width: 705px;

			.show-bar-nav {
				width: auto;
				float: left;

				ul {
					position: relative;

					&:before {
						display: none;
					}

					> li {
						padding: 0;
						float: left;
						width: 166px;
						display: block;
						border-right: 1px solid #ccc;

						&:last-child {
							border-right: none;
						}

						> a {
							padding: 12px 20px 12px 66px;

							&:before {
								left: 32px;
							}
						}

						&.active {
							background-color: #e8e8e8;

							> a {
								color: #000;
							}
						}
					}

					&.open {
						@include box-shadow(none);

						> li {
							border-bottom: none;
						}
					}
				}
			}
		}

		.sort-nav {
			padding: 0;
			width: 215px;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 30px;

		.display-label {
			float: left;
			width: 110px;
			padding: 12px 0;
			margin-bottom: 0;
		}

		.show-bar {
			width: 935px;
		}

		.sort-nav {
			width: 325px;

			.sort-select {
				float: left;
				width: 215px;
			}
		}
	}
}

.gallery-table {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	overflow: hidden;
	max-width: 300px;
	position: relative;

	&.gallery-video {

		.gallery-lnk {

			&:before {
				background-position: 0 -15px;
			}
		}
	}

	li {
		margin-bottom: 10px;
	}

	.gallery-lnk {
		color: #fff;
		display: block;
		overflow: hidden;
		position: relative;
		@include border-radius(3px);

		&:before {
			top: 0;
			left: 0;
			z-index: 2;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: url("../img/gallery-gradient.png") 0 100% repeat-x;
		}


		&:hover {

			.gallery-text {
				background: rgba(120,180,61, 0.85);
			}
		}
	}

	.gallery-text {
		left: 0;
		bottom: 0;
		z-index: 5;
		color: #fff;
		width: 100%;
		display: table;
		font-size: 15px;
		font-weight: 600;
		line-height: 20px;
		text-align: center;
		position: absolute;

		span {
			height: 90px;
			padding: 0 20px;
			display: table-cell;
			vertical-align: middle;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -5px;
		max-width: inherit;

		li {
			width: 50%;
			float: left;
			padding: 0 5px;
		}
	}

	@media (min-width: $screen-md-min) {

		li {
			width: 310px;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -10px;

		li {
			width: 25%;
			padding: 0 10px;
			margin-bottom: 20px;
		}
	}
}

.gallery-list {
	margin: 0;
	padding: 0;
	list-style: none;

	&.gallery-video {

		.gallery-image {

			&:before {
				background: url("../img/icon-360video.png") 0 0 no-repeat;
			}
		}
	}

	li {
		padding: 20px 0 25px 0;
		@include clearfix();
		border-bottom: 1px solid #dfdfdf;

		&:first-child {
			border-top: 1px solid #dfdfdf;
		}
	}

	.gallery-image {
		outline: none;
		display: block;
		position: relative;
		margin-bottom: 15px;
		text-decoration: none;

		&:before {
			top: 10px;
			left: 10px;
			content: '';
			width: 55px;
			height: 55px;
			position: absolute;
			background: url("../img/icon-360.png") 0 0 no-repeat;
			@include border-radius(50%);
		}
	}

	.gallery-content {
		color: #272727;
		font-size: 13px;
		line-height: 21px;

		h4 {
			font-size: 15px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 15px;

			a {
				color: #78b43d;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		p {
			margin-bottom: 15px;
		}

		.gallery-content-show {
			color: #78b43d;
			display: inline-block;
			position: relative;

			&:after {
				top: 2px;
				left: 100%;
				position: absolute;
				content: "\f107";
				padding-left: 8px;
				font: normal normal normal 18px/1 FontAwesome;
			}

			span {
				border-bottom: 1px dashed #78b43d;
			}
		}

		.gallery-content-hide {
			display: none;

			&.show {
				display: block;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.gallery-image {
			float: left;
			width: 440px;
			margin-bottom: 0;
		}

		.gallery-content {
			float: right;
			width: 460px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.gallery-image {
			width: 525px;
		}

		.gallery-content {
			width: 715px;

			.gallery-content-show {
				display: none;
			}

			.gallery-content-hide {
				display: block;
			}
		}

	}

}

.gallery-map {
	height: 420px;
	max-width: 100%;
	overflow: hidden;
	margin-bottom: -20px;
	position: relative;

	.map-content-inner {
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 100;
		position: absolute;
	}

	.map-content {
		left: 50%;
		width: 300px;
		bottom: 30px;
		margin-left: -150px;

		z-index: 50;
		overflow: hidden;
		position: absolute;
		@include border-radius(3px);
		@include box-shadow(0px 10px 10px 0px rgba(0, 0, 0, 0.35));

		.map-content-close {
			top: 0;
			right: 0;
			z-index: 100;
			width: 34px;
			height: 34px;
			cursor: pointer;
			position: absolute;
			display: inline-block;
			background: rgba(0,0,0, 0.6) url("../img/icon-close-map-content.png") 50% 50% no-repeat;

			&:hover {
				background-color: rgba(0,0,0, 1);
			}
		}
	}

	.map-image {
		color: #fff;
		display: block;
		overflow: hidden;
		position: relative;

		&:before {
			top: 0;
			left: 0;
			z-index: 2;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: url("../img/map-gradient.png") 0 100% repeat-x;
		}

		.map-content-text {
			left: 0;
			bottom: 0;
			z-index: 5;
			color: #fff;
			width: 100%;
			display: table;
			font-size: 15px;
			font-weight: 600;
			line-height: 20px;
			text-align: center;
			position: absolute;

			span {
				height: 90px;
				padding: 0 20px;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}

	#map {
		height: 100%;
	}

	@media (min-width: $screen-sm-min) {
		height: 390px;
		margin-bottom: -30px;

		.map-content-inner {
			top: 0;
			bottom: auto;
		}

		.map-content {
			top: 10px;
			left: auto;
			right: 10px;
			bottom: auto;
			margin-left: 0;
		}
	}

	@media (min-width: $screen-md-min) {
		height: 560px;
		margin-bottom: -50px;
	}

	@media (min-width: $screen-lg-min) {
		height: 700px;

		.map-content {
			top: 40px;
		}
	}
}

.photo-gallery {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	overflow: hidden;
	max-width: 400px;
	position: relative;

	li {
		margin-bottom: 10px;
	}

	.photo-lnk {
		color: #fff;
		display: block;
		overflow: hidden;
		position: relative;
		@include border-radius(3px);

		&:before {
			top: 0;
			left: 0;
			z-index: 2;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: url("../img/gallery-gradient.png") 0 100% repeat-x;
		}

		&:hover {

			.photo-text {
				text-decoration: underline;
				background: rgba(120,180,61, 0.85);
			}
		}
	}

	.photo-value {
		top: 10px;
		left: 10px;
		color: #000;
		padding: 5px 10px;
		font-size: 13px;
		line-height: 20px;
		background: #fff;
		position: absolute;
		display: inline-block;
		@include border-radius(3px);
		@include box-shadow(0px 0px 2px 0px rgba(0, 0, 0, 0.25));

		b {
			color: #78b43d;
			font-size: 15px;
			font-weight: 700;
		}
	}

	.photo-text {
		left: 0;
		bottom: 0;
		z-index: 5;
		color: #fff;
		width: 100%;
		display: table;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		position: absolute;

		.photo-text-inner {
			height: 120px;
			padding: 0 20px;
			display: table-cell;
			vertical-align: middle;
		}

		p {
			font-size: 15px;
			font-weight: 600;
			line-height: 20px;
			margin-bottom: 0;
		}

		span {

		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -5px;
		max-width: inherit;

		li {
			width: 50%;
			float: left;
			padding: 0 5px;
		}
	}

	@media (min-width: $screen-md-min) {

		li {
			width: 310px;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -15px;

		li {
			width: 430px;
			padding: 0 15px;
			margin-bottom: 30px;
		}
	}

}

.collage {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		float: left;
		border: 1px solid #fff;

		&:nth-child(1) {
			width: 39.361%;
		}

		&:nth-child(2) {
			width: 60.638%;
		}

		&:nth-child(3) {
			width: 100%;
		}

		&:nth-child(4) {
			width: 58.4%;
		}

		&:nth-child(5) {
			width: 41.6%;
		}

		&:nth-child(6) {
			width: 100%;
		}

		&:nth-child(7) {
			width: 49.290%;
		}

		&:nth-child(8) {
			width: 50.709%;
		}

		&:nth-child(9) {
			width: 100%;
		}

		a {
			display: block;
			position: relative;

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
				content: '';
				display: none;
				position: absolute;
				background: url("../img/gallery-gradient.png") 0 0 repeat-x;
			}

			.collage-text {
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 10;
				color: #fff;
				padding: 20px;
				display: none;
				position: absolute;
				text-align: center;

				b {
					display: block;
					font-size: 15px;
					font-weight: 600;
					line-height: 20px;
				}

				span {

				}
			}

			&:hover {

				.collage-text {
					display: none;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		li {

			&:nth-child(1) {
				width: 26.941%;
			}

			&:nth-child(2) {
				width: 41.759%;
			}

			&:nth-child(3) {
				width: 31.299%;
			}

			&:nth-child(4) {
				width: 38.0%;
			}

			&:nth-child(5) {
				width: 27.099%;
			}

			&:nth-child(6) {
				width: 34.865%;
			}

			&:nth-child(7) {
				width: 32.171%;
			}

			&:nth-child(8) {
				width: 33.042%;
			}

			&:nth-child(9) {
				width: 34.786%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		li {

			&:nth-child(1) {
				width: 26.941%;
			}

			&:nth-child(2) {
				width: 41.759%;
			}

			&:nth-child(3) {
				width: 31.299%;
			}

			&:nth-child(4) {
				width: 38.034%;
			}

			&:nth-child(5) {
				width: 27.099%;
			}

			&:nth-child(6) {
				width: 34.865%;
			}

			&:nth-child(7) {
				width: 32.171%;
			}

			&:nth-child(8) {
				width: 33.042%;
			}

			&:nth-child(9) {
				width: 34.786%;
			}

			a {

				&:hover {

					&:before {
						display: block;
					}

					.collage-text {
						display: block;
					}
				}
			}
		}
	}
}

.album-list {

}

.album-list-item {
	max-width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;

	&:before {
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		z-index: 10;
		height: 180px;
		position: absolute;
		background: url("../img/album-gradient.png") 0 100% repeat-x;
	}

	.album-list-inner {
		display: block;
		margin: 0 -90px;
	}

	.album-list-text {
		left: 0;
		right: 0;
		bottom: 0;
		color: #fff;
		z-index: 20;
		padding: 20px 40px;
		text-align: center;
		position: absolute;

		.album-list-name {
			font-size: 15px;
			font-weight: 600;
			line-height: 20px;
			margin-bottom: 10px;
		}

		.album-list-id {
			font-size: 13px;
			line-height: 20px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.album-list-inner {
			margin: 0;
		}
	}
}


.album-gallery {
	margin: 0 -15px;
	position: relative;
	background: #272727;

	.album-image-inner {
		position: relative;
		margin-bottom: 6px;
	}

	.gallery-nav {
		display: none;
	}

	.album-image {
		position: relative;

		.album-image-item {
			border: none;
			outline: none;
			display: block;
			position: relative;

			&:before {
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				z-index: 10;
				height: 180px;
				position: absolute;
				background: url("../img/album-gradient.png") 0 100% repeat-x;
			}

			.album-image-text {

				left: 0;
				right: 0;
				bottom: 0;
				color: #fff;
				z-index: 20;
				padding: 20px 40px;
				text-align: center;
				position: absolute;

				.album-list-name {
					font-size: 15px;
					font-weight: 600;
					line-height: 20px;
					margin-bottom: 10px;
				}

				.album-list-id {
					font-size: 13px;
					line-height: 20px;
				}
			}
		}
	}

	.album-thumbs {

		.album-thumbs-item {
			border: none;
			outline: none;
			padding: 5px;
			cursor: pointer;
			position: relative;

			&:before {
				top: 5px;
				left: 5px;
				right: 5px;
				bottom: 5px;
				content: '';
				display: none;
				position: absolute;
				border: 10px solid #272727;
			}

			img {

			}

			&.slick-current {

				&:before {
					display: block;
				}
			}
		}

		.slider-nav {
			top: 50%;
			margin-top: -23px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.gallery-nav {
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		margin: 0;
	}
}

.gallery-nav {
	top: 50%;
	color: #fff;
	z-index: 100;
	width: 70px;
	height: 70px;
	display: none;
	cursor: pointer;
	padding: 15px 0;
	font-size: 40px;
	line-height: 40px;
	margin-top: -35px;
	text-align: center;
	position: absolute;
	background: rgba(0,0,0, 0.3);
	text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);

	&.prev {
		left: 0;
	}

	&.next {
		right: 0;
	}

	&:hover {
		background-color: rgba(0,0,0, 0.5);
	}
}

.ajax-load {
	padding-top: 20px;
	text-align: center;

	.ajax-load-icon {
		width: 32px;
		height: 32px;
		display: inline-block;
	}
}


// Modal

.image-view-layout {
	background: #1b1b1b;

	.image-view-close {
		top: 0;
		right: 0;
		margin: 0;
		z-index: 99995;
		padding: 0;
		font-size: 0;
		line-height: 0;
		border: none;
		outline: none;
		width: 70px;
		height: 70px;
		cursor: pointer;
		position: absolute;
		background: rgba(0,0,0, 0.3) url("../img/icon-close-nav.png") 50% 50% no-repeat;

		&:hover {
			background-color: rgba(0,0,0, 0.7);
		}
	}

	.image-nav-button {
		top: 50%;
		margin: 0;
		border: none;
		outline: none;
		z-index: 99995;
		color: #fff;
		width: 70px;
		height: 70px;
		display: block;
		cursor: pointer;
		padding: 15px 0;
		font-size: 40px;
		line-height: 40px;
		margin-top: -35px;
		text-align: center;
		position: absolute;
		background: rgba(0,0,0, 0.3);
		text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);

		&.prev {
			left: 0;
			padding-right: 5px;
		}

		&.next {
			right: 0;
			padding-left: 5px;
		}

		&:hover {
			background-color: rgba(0,0,0, 0.5);
		}
	}

	.album-image-text {
		text-align: center;
		padding-top: 0;
		border-top: none !important;

		.album-list-name {
			font-size: 15px;
			font-weight: 600;
			line-height: 20px;
			margin-bottom: 10px;
		}

		.album-list-id {
			font-size: 13px;
			line-height: 20px;
		}
	}

	.image-view-action {
		top: 10px;
		left: 10px;
		right: 70px;
		color: #fff;
		z-index: 99995;
		position: absolute;
		@include clearfix();

		.social-group {
			float: left;
			margin-right: 35px;
		}

		.btn {
			float: left;
		}
	}

	@media (min-width: $screen-sm-min) {

		.image-view-action {
			top: 20px;
			left: 20px;
		}

	}
}


// Single

.single {
	padding-bottom: 30px;
	position: relative;

	.pagination {
		z-index: 999;
		background: #fff;
		position: relative;
	}

	.single-map {
		width: 100%;
		height: 70px;
		overflow: hidden;
		position: relative;

		&.open {
			height: 430px;
			margin-bottom: 20px;
		}

		.single-map-top {
			top: 0;
			left: 0;
			right: 0;
			text-align: right;
			padding: 12px 20px;
			position: absolute;
			background: rgba(232,232,232, 0.8);

			.btn-map {
				margin:0;
				border: none;
				outline: none;
				cursor: pointer;
				font-size: 13px;
				font-weight: 700;
				line-height: 20px;
				text-align: center;
				position: relative;
				background: #ffffff;
				padding: 13px 40px 13px 18px;
				color: $color-green;
				display: inline-block;
				text-decoration: none;
				vertical-align: middle;
				background-image: none;
				touch-action: manipulation;
				@include border-radius(3px);
				@include box-shadow(0px 3px 5px 0px rgba(0, 0, 0, 0.35));

				&:before {
					top: 11px;
					right: 10px;
					content: '';
					width: 25px;
					height: 25px;
					position: absolute;
					background: url("../img/btn-map.png") -25px 0 no-repeat;
				}

				&:hover {
					color: $color-green;
					background: #ffffff;
					text-decoration: none;
					@include box-shadow(0px 3px 5px 0px rgba(0, 0, 0, 0.35));

					&:before {
						background-position: 0 0;
					}
				}

				&:active {
					top: 1px;
				}

				.map-show {
					display: inline;
				}

				.map-hide {
					display: none;
				}

				&.open {

					&:before {
						background-position: 0 -25px;
					}

					&:hover {

						&:before {
							background-position: -25px -25px;
						}
					}

					.map-show {
						display: none;
					}

					.map-hide {
						display: inline;
					}
				}
			}
		}

		#map {
			height: 430px;
			position: relative;
		}
	}

	.single-video {
		position: relative;
		margin: 0 -15px 20px -15px;

		.highscreen {
			top: 10px;
			right: 10px;
			width: 46px;
			height: 46px;
			z-index: 200;
			border: none;
			outline: none;
			cursor: pointer;
			position: absolute;
			display: none;
			@include border-radius(3px);
			background: rgba(255,255,255, 0.95);

			&:before {
				top: 14px;
				left: 11px;
				content: '';
				width: 25px;
				height: 18px;
				position: absolute;
				border: 2px solid #000;
				background: transparent;
			}

			&.active {

				&:before {
					border-color: $color-green;
				}
			}
		}
	}

	.single-nav {
		@include clearfix();
		margin-bottom: 20px;


		.single-action {
			@include clearfix();
			margin-bottom: 20px;

			.social-group {
				margin-bottom: 20px;
			}

			.btn {
				width: 100%;
			}
		}

		.single-banner {
			margin: 0 auto;
			max-width: 468px;
		}
	}

	h1,
	.h1 {
		margin-bottom: 15px;
	}

	.single-content {
		margin-bottom: 25px;

		img {
			margin-bottom: 20px;
		}
	}

	.single-gallery {
		padding: 30px 15px;
		margin: 0 -15px 20px -15px;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
	}

	.single-review {
		padding: 0 15px;
		margin: 30px -15px 0 -15px;
	}

	.bottom-banner {
		margin: 0 auto;
		max-width: 728px;
	}

	.single-side {
		margin: 0 -15px;
		text-align: center;
		padding: 25px 15px;
		background: #efefef;
		border: 1px solid #dfdfdf;
		@include border-radius(3px);

		h4 {
			color: #000;
			font-size: 16px;
			text-align: center;
			margin-bottom: 20px;
		}

		.btn {
			width: 100%;
			margin: 0 auto;
			max-width: 300px;
		}

		.side-gallery {
			margin: 0;
			list-style: none;
			padding: 0 0 10px 0;

			li {
				margin-bottom: 10px;
			}

			.gallery-lnk {
				color: #fff;
				display: block;
				overflow: hidden;
				position: relative;
				@include border-radius(3px);

				&:before {
					top: 0;
					left: 0;
					z-index: 2;
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					background: url("../img/gallery-gradient.png") 0 100% repeat-x;
				}

				&:hover {

					.gallery-text {
						background: rgba(120,180,61, 0.85);
					}
				}

				.icon-video {
					top: 10px;
					left: 10px;
					content: '';
					width: 55px;
					height: 55px;
					position: absolute;
					background: url("../img/icon-360video.png") 0 0 no-repeat;
					@include border-radius(50%);
				}

				.icon-pano {
					top: 10px;
					left: 10px;
					content: '';
					width: 55px;
					height: 55px;
					position: absolute;
					background: url("../img/icon-360.png") 0 0 no-repeat;
					@include border-radius(50%);
				}
			}

			.gallery-text {
				left: 0;
				bottom: 0;
				z-index: 5;
				color: #fff;
				width: 100%;
				display: table;
				font-size: 15px;
				font-weight: 600;
				line-height: 20px;
				text-align: center;
				position: absolute;

				span {
					height: 90px;
					padding: 0 20px;
					display: table-cell;
					vertical-align: middle;
				}
			}

		}
	}

	.gallery-table {

		li {
			width: 100%;
		}
	}


	@media (min-width: $screen-sm-min) {

		.pagination {
			display: inline-block;
			padding: 25px 0;
		}

		.single-nav {

			.single-action {

				.social-group {
					float: left;
					margin-bottom: 0;
				}

				.btn {
					width: 280px;
					float: right;
				}
			}
		}

		h1,
		.h1 {
			margin-bottom: 20px;
		}


		.single-review {
			padding-top: 25px;
			border-top: 1px solid #dfdfdf;
		}

		.single-side {
			margin: 0;

			.side-gallery {
				margin: 0 auto;
				max-width: 300px;
			}
		}


		.gallery-table {

			li {
				width: 50%;
			}
		}
	}


	@media (min-width: $screen-md-min) {

		.single-video {
			margin: 0 auto 20px auto;

			.highscreen {
				display: inline-block;
			}
		}

		.pagination {
			display: inline-block;
		}

		.single-map {
			margin-top: -70px;

			.single-map-top {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+61,ffffff+100&1+0,1+61,0.4+100 */
				background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 61%, rgba(255,255,255,0.4) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 61%,rgba(255,255,255,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 61%,rgba(255,255,255,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#66ffffff',GradientType=1 ); /* IE6-9 */
			}
		}

		h1,
		.h1 {
			margin-bottom: 30px;
		}

		.single-gallery {
			padding: 35px 0;
			margin: 0 0 30px 0;
		}

		.single-review {
			padding: 35px 0 0 0;
			margin: 40px 0 0 0;
		}

		.gallery-table {

			li {
				width: 290px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.single-video {
			margin-bottom: 30px;
		}

		.single-nav {
			margin-bottom: 25px;

			.single-action {
				float: left;
				margin-bottom: 0;

				.social-group {
					margin-right: 35px;
				}

				.btn {
					float: left;
				}
			}

			.single-banner {
				margin: 0;
				float: right;
				max-width: 235px;
			}
		}

		h1,
		.h1 {
			margin-bottom: 30px;
		}

		.single-side {
			padding: 25px 25px;
		}


		.gallery-table {

			li {
				width: 315px;
			}
		}
	}
}


.content-hide {

	&.open {

		.content-hide-inner {
			height: auto;

			&:before {
				display: none;
			}
		}

		.btn {
			display: none;
		}
	}

	.content-hide-inner {
		height: 90px;
		overflow: hidden;
		position: relative;

		&:before {
			top:0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			position: absolute;
			background: url("../img/text_hie_gradient.png") 0 100% repeat-x;
		}
	}


	@media (min-width: $screen-sm-min) {

		.btn {
			padding-left: 100px;
			padding-right: 100px;
		}
	}
}