.header {
	position: relative;
	background: url("../img/header_bg.jpg") 50% 0 no-repeat;
	background-size: cover;

	// Navigation

	.topbar {
		top: 0;
		left: 0;
		right: 0;
		z-index: 500;
		position: absolute;

		.header-logo {
			display: none;
		}
	}

	.container-fluid {
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;
	}

	.btn-nav {
		top: 20px;
		right: 20px;
		width: 30px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: absolute;
		display: inline-block;

		span {
			width: 100%;
			padding: 3px 0;
			display: inline-block;
			border-bottom: 3px solid #fff;
		}
	}

	.header-search {
		position: relative;
		@include border-radius(3px);
		@include box-shadow(0px 1px 3px 0px rgba(0, 0, 0, 0.3));

		input[type='text'] {
			width: 100%;
			outline: none;
			color: #7d7d7d;
			font-size: 14px;
			line-height: 20px;
			background: #ffffff;
			display: inline-block;
			border: 1px solid #fff;
			padding: 9px 70px 9px 25px;
			@include placeholder(#7d7d7d);
			@include border-radius(3px);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus {
				@include placeholder(transparent);
			}
		}


		button {
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			width: 50px;
			height: 40px;
			border: none;
			outline: none;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			position: absolute;
			display: inline-block;
			background: #78b43d url("../img/icon-search.png") 50% 50% no-repeat;
			@include border-radius(0 3px 3px 0);

			&:hover {
				background-color: #598a29;
			}

			&:active {
				background-color: #598a29;
			}
		}
	}

	.header-logo {
		width: 148px;
		display: block;
		margin: 0 auto 12px auto;
	}

	// Slider

	.header-slider-nav {
		top: 50%;
		z-index: 50;
		width: 62px;
		height: 62px;
		display: none;
		cursor: pointer;
		margin-top: -31px;
		position: absolute;
		background: rgba(255,255,255, 0.5) url("../img/header_slider_nav.png") no-repeat;
		@include border-radius(50%);

		&.prev {
			left: 20px;
			background-position: 0 0;
		}

		&.next {
			right: 20px;
			background-position: -62px 0;
		}

		&:hover {
			background-color: rgba(255,255,255, 1);
		}
	}

	.header-slider {
		height: 420px;
		overflow: hidden;
		position: relative;

		.header-slider-item {
			border: none;
			outline: none;
			height: 420px;
			background-position: 50% 0;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.slick-dots {
			left: 0;
			right: 0;
			margin: 0;
			padding: 0;
			z-index: 50;
			bottom: 20px;
			font-size: 0;
			line-height: 0;
			list-style: none;
			position: absolute;
			text-align: center;

			li {
				padding: 0 9px;
				display: inline-block;

				button {
					margin: 0;
					padding: 0;
					width: 12px;
					height: 12px;
					outline: none;
					border: 2px solid #fff;
					background: transparent;
					@include border-radius(50%);
				}

				&.slick-active {

					button {
						background: #fff;
					}
				}
			}
		}
	}


	// Content

	.header-content {
		left: 0;
		right: 0;
		top: 70px;
		z-index: 20;
		bottom: 40px;
		position: absolute;

		.header-content-logo {
			width: 240px;
			margin: 0 auto 20px auto;
		}

		.header-content-text {
			color: #fff;
			font-size: 24px;
			line-height: 30px;
			text-align: center;
			margin-bottom: 25px;
		}

		.header-content-search {
			max-width: 704px;
			margin: 0 auto;

			.header-search {

				input[type='text'] {
					padding: 15px 70px 15px 25px;
				}

				button {
					width: 70px;
					height: 52px;
				}
			}
		}
	}

	.header-search-wrap {
		max-width: 704px;
		margin: 0 auto;
	}

	@media (min-width: $screen-sm-min) {

		.header-content {

		}
	}

	@media (min-width: $screen-md-min) {

		.header-slider-nav {
			display: inline-block;
		}

		.header-content {

			.header-content-text {
				font-size: 26px;
			}

			.header-content-search {
				width: 630px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.topbar {
			background: rgba(0,0,0, 0.3);
		}

		.container-fluid {
			padding-top: 0;
			padding-bottom: 0;
		}

		.btn-nav {
			display: none;
		}

		.header-logo {
			top: 20px;
			left: 20px;
			margin: 0;
			position: absolute;
		}

		.header-slider-nav {

			&.prev {
				left: 80px;
			}

			&.next {
				right: 80px;
			}
		}

		.header-slider {
			height: 530px;

			.header-slider-item {
				height: 530px;
			}
		}

		.header-content {
			top: 140px;

			.header-content-logo {
				width: 338px;
			}

			.header-content-text {
				font-size: 30px;
				margin-bottom: 30px;
			}

			.header-content-search {
				width: 704px;
			}
		}

		.header-search-wrap {
			top: 18px;
			z-index: 999;
			right: 100px;
			width: 220px;
			position: absolute;
		}
	}

	@media (min-width: 1600px) {

		.header-search-wrap {
			width: 260px;
		}
	}
}

// Navigation

.navbar {
	top: 0;
	right: 0;
	z-index: 888;
	display: none;
	max-width: 250px;
	position: absolute;
	background: #272727;

	&.open {
		display: block;
	}

	.icon-close {
		top: 24px;
		left: -40px;
		width: 25px;
		height: 25px;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		background: url("../img/icon-close-nav.png") 50% 50% no-repeat;
	}

	.navbar-search {
		padding: 20px;
		position: relative;

		.navbar-input-search {
			width: 100%;
			outline: none;
			color: #7d7d7d;
			font-size: 13px;
			line-height: 20px;
			background: #ffffff;
			display: inline-block;
			border: 1px solid #fff;
			padding: 9px 40px 9px 16px;
			@include placeholder(#7d7d7d);
			@include border-radius(3px);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus {
				@include placeholder(transparent);
			}
		}

		button {
			top: 20px;
			right: 20px;
			margin: 0;
			padding: 0;
			width: 48px;
			height: 40px;
			border: none;
			outline: none;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			position: absolute;
			display: inline-block;
			@include border-radius(0 3px 3px 0);
			background: #fff url("../img/icon-search-gray.png") 50% 50% no-repeat;
		}
	}

	.navbar-main {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;

		> li {
			width: 100%;
			display: inline-block;
			border-bottom: 1px solid #494949;

			a {
				color: #fff;
				width: 100%;
				font-size: 15px;
				line-height: 20px;
				padding: 20px 20px;
				position: relative;
				background: #272727;
				display: inline-block;
				text-decoration: none;

				&:before {
					top: 20px;
					right: 20px;
					font-size: 15px;
					content: "\f105";
					font-weight: 400;
					line-height: 20px;
					position: absolute;
					display: inline-block;
					font-family: FontAwesome;
				}

				&:hover {
					color: #78b43d;
					background: #171717;
				}
			}

			&:last-child {
				padding: 20px;
				border-bottom: none;

				a {
					color: #fff;
					font-size: 13px;
					font-weight: 600;
					line-height: 20px;
					text-align: center;
					padding: 10px 10px;
					background: #78b43d;
					@include border-radius(3px);

					&:before {
						display: none;
					}

					&:hover {
						background: #598a29;
					}
				}
			}
		}
	}

	.navbar-lng {
		padding: 20px;
		background: #171717;
		position: relative;

		.lng-text {
			color: #999;
			font-size: 13px;
			line-height: 20px;
			display: inline-block;
		}

		.lng {
			top: 15px;
			right: 15px;
			margin: 0;
			padding: 0;
			width: 50px;
			background: #171717;
			position: absolute;
			@include border-radius(3px);
			border: 1px solid transparent;

			&.open {

				border-color: #494949;


				li {
					display: block;
				}
			}

			li {
				display: none;

				&.active {
					display: block;

					a {

						&:before {
							top: 5px;
							right: 5px;
							font-size: 13px;
							content: "\f0d7";
							font-weight: 400;
							line-height: 20px;
							position: absolute;
							display: inline-block;
							font-family: FontAwesome;
						}
					}
				}

				a {
					color: #fff;
					width: 100%;
					font-size: 15px;
					font-weight: 600;
					line-height: 20px;
					position: relative;
					padding: 5px 18px 5px 5px;
					display: inline-block;
				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {
		left: 0;
		display: block;
		max-width: inherit;
		position: relative;
		background: transparent;

		.navbar-main {
			width: 700px;
			margin: 0 auto;
			text-align: center;

			> li {
				width: auto;
				border-right: 1px solid transparent;
				border-bottom: 1px solid transparent;

				a {
					color: #fff;
					width: 100%;
					font-size: 15px;
					line-height: 21px;
					padding: 20px 25px;
					position: relative;
					background: transparent;
					display: inline-block;
					text-decoration: none;
					border-bottom: 4px solid transparent;

					&:before {
						display: none;
					}

					&:hover {
						color: #fff;
						background: rgba(0,0,0, 0.2);
						border-bottom-color: #78b43d;
					}
				}

				&.active {

					a {
						border-bottom-color: #fff;
					}
				}

				&:last-child {
					padding: 18px 25px 18px 25px;
					border-right: none;
					border-bottom: none;

					a {
						color: #fff;
						font-size: 13px;
						font-weight: 600;
						line-height: 20px;
						text-align: center;
						padding: 10px 24px;
						background: #78b43d;
						@include border-radius(3px);
						border-bottom: none !important;

						&:before {
							display: none;
						}

						&:hover {
							background: #598a29;
						}
					}
				}
			}
		}

		.navbar-lng {
			top: 8px;
			padding: 0;
			right: 0px;
			position: absolute;
			background: transparent;

			.lng-text {
				display: none;
			}

			.lng {
				background: transparent;
			}
		}
	}
}


