.section {
	padding-top: 20px;
	padding-bottom: 20px;
}


.section-service {
	max-width: 100%;
	overflow: hidden;
	background: #efefef;
	padding-top: 35px;
	padding-bottom: 30px;

	.heading {

		span {
			background: #efefef;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 40px;
		padding-bottom: 50px;
	}


	@media (min-width: $screen-lg-min) {
		padding-top: 50px;
		padding-bottom: 60px;
	}
}

.section-gallery {
	padding-bottom: 35px;

	@media (min-width: $screen-md-min) {
		padding-bottom: 40px;
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 50px;
	}
}

.preview-gallery {
	margin: 0 auto 15px auto;
	overflow: hidden;
	max-width: 300px;
	position: relative;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			border: none;
			outline: none;
			position: relative;
			margin-bottom: 10px;
		}
	}


	&.preview-photo {

	}

	&.preview-video {

		a {

			&:before {
				background: url("../img/gallery-gradient.png") 0 -30px repeat-x;
			}
		}
	}

	.item-lnk {
		color: #fff;
		display: block;
		overflow: hidden;
		position: relative;
		@include border-radius(3px);

		&:before {
			top: 0;
			left: 0;
			z-index: 2;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: url("../img/gallery-gradient.png") 0 100% repeat-x;
		}

		.item-text {
			left: 0;
			bottom: 0;
			z-index: 5;
			color: #fff;
			width: 100%;
			display: table;
			font-size: 15px;
			font-weight: 600;
			line-height: 20px;
			text-align: center;
			position: absolute;

			span {
				height: 90px;
				padding: 0 20px;
				display: table-cell;
				vertical-align: middle;
			}
		}

		&:hover {

			.item-text {
				background: rgba(120,180,61, 0.85);
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		margin: 0 -5px 15px -5px;
		max-width: inherit;

		ul {
			width: 570px;

			li {
				float: left;
				width: 285px;
				padding: 0 10px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		margin: 0 0 30px 0;

		&.preview-video {

			ul {
			}
		}

		ul {
			width: auto;

			li {
				padding: 0;
				width: 280px;
				margin: 0 10px 0 0;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -10px 20px -10px;

		ul {
			width: 1280px;

			li {
				width: 300px;
				margin: 0 10px 20px 10px;
			}
		}

	}
}


.home-map {
	height: 360px;


	@media (min-width: $screen-sm-min) {
		height: 300px;
	}

	@media (min-width: $screen-md-min) {
		height: 450px;
	}

	@media (min-width: $screen-lg-min) {
		height: 700px;
	}
}

.home-gallery {
	margin: 0 -1px 20px -1px;
	position: relative;

	.home-gallery-item {
		border: none;
		outline: none;
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 30px;
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 40px;
	}
}

.home-service {
	padding: 0;
	margin: 0 auto;
	max-width: 400px;
	list-style: none;

	> li {
		overflow: hidden;
		background: #fff;
		text-align: center;
		margin-bottom: 10px;
		padding-bottom: 33px;
		border: 1px solid #d9d9d9;
		@include border-radius(3px);

		.service-image {
			margin-bottom: 22px;
		}

		h4 {
			color: #000;
			font-size: 16px;
			font-weight: 600;
			line-height: 20px;
			min-height: 45px;
		}

		.service-info {
			margin: 0;
			list-style: none;
			padding: 0 10px 15px 10px;

			li {
				font-size: 13px;
				line-height: 20px;
				margin-bottom: 10px;

				a {
					color: #78b43d;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		margin: 0 -10px;
		max-width: inherit;

		> li {
			float: left;
			width: 293px;
			margin: 0 10px;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -15px;
		max-width: inherit;

		> li {
			float: left;
			width: 400px;
			margin: 0 15px;
		}
	}
}


.mCustomScrollBox {
	z-index: 50;
	position: relative;

	.mCSB_container {
		z-index: 50;
	}
}

.mCSB_scrollTools_horizontal {
	display: none !important;


	.mCSB_buttonLeft,
	.mCSB_buttonRight {
		z-index: 50;
		top: -120px;
		width: 45px;
		height: 45px;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		background: #78b43d url("../img/gallery-nav.png") no-repeat;

		&:hover {
			background-color: #598a29;
		}
	}

	.mCSB_buttonLeft {
		left: 0;
		background-position: 0 0;
	}

	.mCSB_buttonRight {
		right: 0;
		background-position: -45px 0;
	}

	.mCSB_dragger {
		display: none !important;
	}

	@media (min-width: $screen-md-min) {
		display: block !important;
		z-index: 50;
		position: relative;
	}

	@media (min-width: $screen-lg-min) {
		display: none !important;
	}
}



.preview-photo {

	.mCSB_scrollTools_horizontal {

		.mCSB_buttonLeft,
		.mCSB_buttonRight {
			top: -180px;
		}
	}
}