// Search

.showing-bar {
	width: 100%;
	margin-bottom: 25px;
	position: relative;

	.showing-current {
		width: 100%;
		color: #78b43d;
		cursor: pointer;
		font-size: 13px;
		font-weight: 700;
		line-height: 20px;
		padding: 12px 20px;
		display: inline-block;
		position: relative;
		border: 1px solid #ccc;
		@include border-radius(3px);

		&:before {
			top: 7px;
			right: 6px;
			content: '';
			width: 30px;
			height: 30px;
			position: absolute;
			display: inline-block;
			background: url(../img/sort-icon-two.png) 0 0 no-repeat;
		}

		&:hover {
			&:before {
				background-position: 0 -30px;
			}
		}

		i {
			color: #000;
			font-style: normal;
		}
	}

	@media (min-width: $screen-sm-min) {

		.showing-current {
			display: none;
		}
	}
}

.showing {
	top: 100%;
	left: 0;
	margin: -2px 0 0 0;
	padding: 0;
	width: 100%;
	z-index: 500;
	display: none;
	list-style: none;
	overflow: hidden;
	background: #fff;
	position: absolute;
	border: 1px solid #ccc;
	@include clearfix();
	@include border-radius(0 0 3px 3px);


	&.open {
		display: block;
	}

	> li {
		border-bottom: 1px solid #ccc;

		&:last-child {
			border-bottom: none;
		}
	}


	.icr-label {
		width: 100%;
		cursor: pointer;
		color: #78b43d;
		font-size: 13px;
		font-weight: 700;
		line-height: 20px;
		padding: 12px 20px;
		display: inline-block;

		&:hover {
			background: #e8e8e8;
		}

		.icr-hidden {
			display: none;
		}

		.icr-text {

			i {
				color: #000;
				font-style: normal;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		top: auto;
		left: auto;
		border: none;
		margin: 0 -5px;
		display: block;
		position: relative;
		@include border-radius(none);

		> li {
			float: left;
			border-bottom: none;
			margin: 0 5px 10px 5px;
		}

		.icr-label {
			border: 1px solid #ccc;
			@include border-radius(3px);

			&.checked {
				color: #000;
				background: #e8e8e8;
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

.search-result {
	margin-bottom: 30px;

	h3 {
		color: #393939;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 15px;
		position: relative;
		overflow: hidden;

		&:before {
			left: 0;
			top: 50%;
			z-index: 1;
			width: 100%;
			content: '';
			position: absolute;
			border-bottom: 1px solid #dfdfdf;
		}

		span {
			z-index: 2;
			background: #fff;
			padding-right: 16px;
			position: relative;
			display: inline-block;
		}

		.num {
			color: #999;
		}
	}

	.search-all {

		a {
			color: #78b43d;
			display: inline-block;
			text-decoration: none;

			span {
				font-weight: 600;
				border-bottom: 1px dotted #78b43d;
			}

			&:hover {

				span {
					border-bottom-color: transparent;
				}
			}
		}
	}

	.search-photo {
		margin-bottom: 20px;
	}

	.search-news {
		padding-bottom: 10px;

		.search-news-item {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px dotted #999;
		}

		.search-news-date {
			color: #7d7d7d;
			font-size: 12px;
			font-weight: 600;
			line-height: 16px;
			margin-bottom: 10px;
		}

		h4 {
			color: #78b43d;
			margin-bottom: 10px;

			a {
				color: #78b43d;
				text-decoration: none;
			}
		}

		p {
			margin-bottom: 0;

			strong {
				padding: 0 5px;
				color: #ffffff;
				background: #78b43d;
			}
		}
	}
}

