
$body-bg                :   #fff !default;
$text-color             :   #272727 !default;
$link-color             :   #78b43d !default;
$link-hover-decoration  :   underline;


$font-size-base         :   13px !default;
$line-height-base       :   21px !default;
$font-base              :   'Open Sans', Arial, sans-serif !default;

$color-green            :   #78b43d;




//== Media queries breakpoints

// Extra small screen / phone
$screen-xs-min:              480px !default;

// Small screen / tablet
$screen-sm-min:              610px !default;

// Medium screen / desktop
$screen-md-min:              982px !default;

// Large screen / wide desktop

$screen-lg-min:              1320px !default;


// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (560px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (920px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1260px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;