.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	position: relative;
	background: #78b43d;
	padding: 10px 28px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	@include border-radius(5px);
	@include transition(.3s);

	&:hover {
		color: #fff;
		background: #598a29;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}

.btn-md {
	padding-left: 50px;
	padding-right: 50px;
}
