.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #7d7d7d;
	font-size: 14px;
	line-height: 20px;
	padding: 12px 20px;
	display: inline-block;
	background: #fff;
	border: 1px solid #cccccc;
	@include placeholder(#7d7d7d);
	@include border-radius(3px);


	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.error {

	.form-control {
		border-color: #ff0000;
	}
}


select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;
}

select::-ms-expand {
	display: none;
}

textarea {
	resize: none;
}

label {
	font-weight: 400;
	display: block;
}

.form-label {
	color: #000;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 10px;

	@media (min-width: $screen-sm-min) {
		padding: 13px 0;
		margin-bottom: 0;
	}
}

.form-group {
	margin: 0 0 10px 0;
	@include clearfix();

	@media (min-width: $screen-sm-min) {
		margin-bottom: 15px;
	}
}

ul.form-group {
	padding: 0;
	list-style: none;
}