.pagination {
	background: #fff;


	.pagination-back {
		display: block;
		font-size: 13px;
		line-height: 20px;
		margin-left: -15px;
		margin-right: -15px;
		border-bottom: 1px solid #dfdfdf;

		a {
			float: left;
			width: 40px;
			height: 40px;
			color: #78b43d;
			padding: 10px 0;
			font-size: 16px;
			text-align: center;
			display: inline-block;
			text-decoration: none;
		}

		span {
			float: left;
			color: #666666;
			font-weight: 600;
			padding: 10px 15px;
			display: inline-block;
			border-left: 1px solid #dfdfdf;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		display: none;


		> li {
			color: #7d7d7d;
			font-size: 13px;
			font-weight: 600;
			line-height: 20px;
			position: relative;
			display: inline-block;

			&:after {
				content: '/';
				padding: 0 8px;
				font-weight: 400;
			}

			&:last-child {

				&:after {
					display: none;
				}
			}

			a {
				color: #78b43d;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 20px;

		.pagination-back {
			display: none;
		}

		ul {
			display: block;


			> li {


				a {

				}
			}
		}
	}
}